{{#if resume.languages.length}}
<section id="languages">
	<h2 class="xfa-icon">{{label-lookup "Languages"}}</h2>
  <div class="item">
  <ul>
	{{#each resume.languages}}
  <li>
		{{#if language}}
		<div class="language">
			{{flag language}} {{language}}
		</div>
		{{/if}}
		{{#if fluency}}
		<div class="fluency">
			<em>{{fluency}}</em>
		</div>
		{{/if}}
	</li>
	{{/each}}
  </ul>
  </div>
</section>
{{/if}}
