{{#resume.basics}}
{{#if summary}}
    <section id="summary">
        <h2 class="xfa-icon">{{label-lookup "Summary"}}</h2>
        <div class="item">
			  <p>{{summary}}</p>
        </div>
    </section>
{{/if}}
{{/resume.basics}}
